.bio-container {
	display: flex;
	flex-direction: row;
	margin: 2em auto 2em auto;
	text-align: left;
}

.bio-profile-pic {
	object-fit: cover;
	padding-right: 10px;
	width: 200px;
	float: left;
}

.bio-text {
	display: inline;
}
