.container {
	padding: 0;
	width: 100%;
	height: 450px;
	display:flex;
	background-color: #4bd1a0;
}

.container.left {
	flex-direction: row;
}

.container.right {
	flex-direction: row-reverse;
}

.imageContainer {
	width: 50%;
}

.textContainer {
	width: 50%;
	background-color: #4bd1a0;
	margin: auto;
	padding: 10px;
}

.heading {
	color: white;
	font-size: 48px;
}

.content {
	color: black;
	font-size: 21px;
	font-weight: 400;
}